body {
  scroll-behavior: smooth;
}

.homepage-wrapper {
  height: 100vh;
  background: url("../css/1st.png") no-repeat;
  background-size: cover;
}

.homepage2-wrapper {
  height: 100vh;
  background: url("../css/2nd.png") no-repeat;
  background-size: cover;
}

.homepage3-wrapper {
  height: 100vh;
  background: url("../css/3rd.png") no-repeat;
  background-size: cover;
}

.requestNav {
  font-family: monospace;
}

.goToRequest {
  font-family: none;
  font-size: 1rem;
}

/* .goToRequest:hover {
  color: white;
} */

.home {
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 0.4rem;
}

.requestTitle {
  margin: 3rem 0 31px 0;
  font-family: sans-serif;
  font-size: 26px;
}

.request-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #b2f2bf;
}

.form-control {
  width: 20rem;
}

.homepage-title {
  text-align: end;
  padding: 13rem 4rem;
  color: #043c0b;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.links-container {
  display: flex;
  gap: 1rem;
}

.navbar-brand {
  color: white;
}

.error {
  font-size: 14px;
  color: red;
  letter-spacing: 1px;
  font-family: sans-serif;
}
