.homepage-wrapper {
  height: 100vh;
  background: url("../css/landing-bg.png") no-repeat;
  background-size: cover;
}

.requestNav {
  font-family: monospace;
}

.goToRequest {
  font-family: none;
  font-size: 1rem;
}

.goToRequest:hover {
  color: white;
}

.home {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 600;
}

.requestTitle {
  margin: 3rem 0 31px 0;
  font-family: monospace;
  font-size: 26px;
}

.request-wrapper {
  height: 107vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background-color: #ffe6b7;
}

.form-control {
  width: 20rem;
}
