.homepage-wrapper {
  height: 100vh;
  background: url("../css/1st.png") no-repeat;
  background-size: cover;
}

.homepage2-wrapper {
  height: 100vh;
  background: url("../css/2nd.png") no-repeat;
  background-size: cover;
}

.requestNav {
  font-family: monospace;
}

.goToRequest {
  font-family: none;
  font-size: 1rem;
}

.goToRequest:hover {
  color: white;
}

.home {
  font-family: monospace;
  font-size: 1rem;
}

.home:hover {
  color: white;
}

.requestTitle {
  margin: 3rem 0 31px 0;
  font-family: monospace;
  font-size: 26px;
}

.request-wrapper {
  height: 107vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background-color: #b2f2bf;
}

.form-control {
  width: 20rem;
}

.homepage-title {
  text-align: end;
  padding: 13rem 4rem;
  color: #043c0b;
}
