body {
  margin: 0;
  box-sizing: border-box;
  background: url("./dashboard-bg.svg") no-repeat;
  background-size: cover;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: #1b9b50;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.icons {
  width: 19px;
}

.sidebar a:hover,
.link:hover {
  background-color: rgb(14, 105, 55);
  color: white;
}

.imgDito {
  width: 2.5rem;
  border-radius: 50%;
  margin: 1rem 0 10px 3.4rem;
}

.admin-text {
  padding: 0 0 0 52px;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

.links {
  /* margin-top: 4rem; */
}

.logout-text {
  margin-top: 6rem;
}

.greet-msg {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  background-color: #1c944e;
  color: white;
}
.greet {
  margin-left: 12rem;
  font-size: 21px;
}

.manage {
  text-decoration: none;
  color: white;
  margin: 0rem 4rem 0 0;
  font-size: 13px;
  display: flex;
  gap: 7px;
}

.manage:hover {
  color: black;
}

/* End Sidebar */

.clientRequestList-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.checkRequest-wrapper {
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 0 0 0;
}

.checkForm {
  line-height: 3;
  letter-spacing: -1px;
  font-family: monospace;
}

.makeForm-wrapper {
  height: 59vh;
  margin: 2rem 0 0 0;
}

.formTitle {
  margin: 0 38rem 1rem 0;
}

.form-control {
  margin-right: 1rem;
}

.dataTables_length {
  padding: 0 0 0 7rem;
  font-family: sans-serif;
}

.dataTables_info {
  clear: both;
  float: left;
  padding: 4px 0 0 7rem;
  font-family: sans-serif;
}

/* .dataTables_wrapper {
    margin: 5rem 0 0 0;
  } */

.form-control {
  margin: 0 6px;
}

.table-container {
  background-color: white;
  padding: 2rem 5rem 2rem 0;
  margin: 1rem 0 0 10rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.54);
  border-radius: 1rem;
}

.client-details {
  height: 20vh;
}

.client-container {
  background-color: #89f0b3;
  width: 25vw;
  height: 16vh;
  margin: 6px 0 0 10.4rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.54);
}

.details {
  margin: 0;
  padding: 13px 0 0 12px;
}
