body {
  background: url("./login-bg.svg") no-repeat;
  background-size: cover;
}

.login-wrapper {
  gap: 6rem;
  height: 100vh;
}

.login-container {
  padding: 4rem 4rem;
  /* margin: 0 2rem 0 10rem; */
  box-shadow: 0px 0px 21px -4px rgb(0 0 0 / 75%);
  background-color: white;
  border-radius: 10%;
  width: 25rem;
}

.img-container {
  height: 26rem;
  width: 30rem;
  /* margin-right: 4rem; */
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: sans-serif;
}

.dito-img {
  width: 20rem;
}

.greet {
  font-size: 14px;
}

.error {
  font-size: 14px;
  color: red;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.dito-title {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
