/* body {
  overflow: hidden;
} */

/* .homepage-wrapper {
  height: 100vh;
  background: url("../css/landing-bg.png") no-repeat;
  background-size: cover;
} */

.requestNav {
  font-family: monospace;
}

.goToRequest {
  font-family: none;
  font-size: 1rem;
}

.goToRequest:hover {
  color: white;
}

.home {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 600;
}

.requestTitle {
  margin-left: 5rem;

  font-family: monospace;
}

.requestForm {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 6px;
}

.requestSuccessTitle {
  font-size: 21px;
}

.request-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  letter-spacing: -1px;
}
